/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Aug, 2016, 3:08:49 AM
    Author     : user
*/

.bid-creator-photo-path {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.bid {
    padding-top: 8px;
    background: white;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 8px;
}
.bid-detail {
    margin-top: 2px;
}

.bid-reply {
    margin-top: 8px;
}

.bid-header {
    
    padding-right: 8px;
    padding-left: 8px;
}

.bid-footer {
    
    padding: 8px;
    background: #ededed;
}