/*
o change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Aug, 2016, 3:08:49 AM
    Author     : user
*/

.bid-creator-photo-path {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.bid {
    background: white;
    display: inline-block;
    width: 100%;
    margin-bottom: 12px;
}
.bid-detail {
    margin-top: 2px;
}

.bid-reply {
    margin-top: 8px;
}

.bid-header {
    
    padding-right: 8px;
    padding-left: 8px;
}

.bid-footer {
    border-radius: 4px;
    padding: 8px;
    background: #ededed;
}

.bid-header-below {
    font-size:12px;
    color: gray;
    margin-top: 4px;
    display: flex;
}

.bid-give , .bid-cancel-give{
        margin-left: 12px;
    border: 0;
    background: none;
    vertical-align: top;
    color: blue;
}
.bid-give:hover , .bid-cancel-give:hover {
    text-decoration: underline;
}