/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Aug, 2016, 4:57:38 PM
    Author     : user
*/

.bidder-list {
    background: white;
    margin-bottom: 12px;
    margin-right: 4px;
}

.bidder-list-header {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.bidder-list-area {
    padding-left: 10px;
    padding-bottom: 10px;
}

.bidder-list-item-image{
    width: 40px;
}

.bidder-list-item-section {
    display: inline-block;
}

.bidder-list-item-give-button {
        color: white;
    font-weight: bold;
    background: blue;
    border: 0;
    padding: 2px 10px;
    border-radius: 10px;
}

.bidder-list-item-give-button:hover {
    background: lightblue;
}


.bidder-list-item-cancel-button {
        color: white;
    font-weight: bold;
    background: red;
    border: 0;
    padding: 2px 10px;
    border-radius: 10px;
}

.bidder-list-item-cancel-button:hover {
    background: orangered;
}

.bidder-list-hide {
    display: none;
}

.bidder-list-item {
    margin-top:8px;
}