/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Aug, 2016, 3:57:09 AM
    Author     : user
*/

.change-image-label {
    display: block;
    width: 100%;
    text-align: center;
    background: blue;
    color: white;
    cursor: pointer;
    line-height: 24px;
    margin-top: 4px;

}

.change-image-area {
    display: inline-block;
}

.change-image {
    text-align:  center;
}