/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Aug, 2016, 5:16:01 PM
    Author     : user
*/

.home-post-list-container {
    background: white;
    height: 180px;
    margin-bottom: 16px;
    margin-right: 4px;
    padding: 8px;
}

.home-post-list {
    padding: 0;
}
.home-post-list-creator-photo-path {
    max-height: 40px;
    border-radius: 50%;
    margin-right: 4px;}

.home-post-list-details {
    margin-top: 4px;
    display: flex;
    padding-top: 4px;
    border-top: 1px solid lightgray;
}

.home-post-list-details-name-and-created-time {
    width: 100%;
    
}

.home-post-list-name {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    text-transform: capitalize;
}

.home-post-list-button {
    margin-top: 4px;
    margin-bottom: 2px;
    display: flex;
}

.home-post-list-total-bid {
    margin-right: 4px;
}

.home-post-list-total-favorite {
    margin-left: 4px;
}

.home-post-list-header {
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.home-post-list-details-name {
    color: blue;
    font-weight: bold;
}

.home-post-list-name {
    overflow: hidden;
    white-space: nowrap;
}


.home-post-list-button-red {
    color: red !important;
}

.home-post-list-disabled {
    
        cursor: not-allowed;
}


.home-post-list-img {
    height: 100%;
    width:50%;
    vertical-align: top;
    padding-right: 8px;
}

.home-post-list-view {
    width: 45%;
    display: inline-block;
}