/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Aug, 2016, 3:05:54 PM
    Author     : user
*/


.home-profile-view {
    background: white;
    padding: 8px;
}

.home-profile-view-image {
        width: 30px;
    height: 30px;
    border-radius: 50%;
}

.home-profile-view-footer {
    display:flex;
    margin-top: 12px;
}
.home-profile-view-footer-item {
    margin-right: 32px;
}

.home-profile-view-footer-item-label {
    font-weight: bold;
}
.home-profile-view-name {
    
    margin-left: 6px;
    font-weight: bold;
    color: blue;
}