/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Aug, 2016, 8:01:00 PM
    Author     : user
*/

.loading-img {
    width: 15px;
    height: 15px;
}