.notification-list {
    display:inline-block;
    
}


.notification-list-area {
    border: 1px solid lightgray;
    right: 0;
    text-align: center;
    margin-top: 7px;
    position: absolute;
    background: white;
    width: 400px;
}

.notification-list-count {
    background: red;
    color:white;
    border:1px solid red;
}

.notification-list-area-header {
    
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
    font-weight: bold;
    color: gray;

}

.notification-list-count:hover {
    background: white;
    color:red;
    border:1px solid red;
    
}

.notification-list-see-all-button {
    background: none;
    padding: 0;
    border: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    
}

.notification-list-see-all-button:hover {
    text-decoration: underline;
}
