
.post-image {
    position: relative;
    float: left;
    margin-right: 12px;
}
.post-index {
    padding-top: 16px;
    margin-top: 75px;
}

.post-bids-header {
    padding-bottom: 4px;
    border-bottom: 1px solid;
    border-color: lightgray;
    padding-top: 4px;
    display: flex;
    
}
.post-image-profile-pic {
    
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.post-bids-label {
    width: 100%;
        font-size: 20px;
    font-weight: bold;
}

.post-user-information {
    margin-top: 8px;
}
.post-information {
    padding: 8px;
    padding-bottom: 16px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: white;
    border-radius: 8px;
}
.post-information-image {
    margin-right: 12px;
    width: 40%;
}

.post-change-image {
    width: 100%;
    background: red;
    border: 0;
    color: white;
    line-height: 23px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}