.post-image {
position: relative;
    min-width: 320px;
    margin-right: 12px;
    min-height: 320px;
    max-width: 320px;
    max-height: 320px;
}
.post-index {
    padding-top: 75px;
    height: 100%;
    background: #efefef;
}

.post-bids-header {
    padding-bottom: 4px;
    border-bottom: 1px solid;
    border-color: lightgray;
    padding-top: 4px;
    display: flex;
    
}
.post-image-profile-pic {
    
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.post-bids-label {
    width: 100%;
        font-size: 20px;
    font-weight: bold;
}

.post-user-information {
    margin-top: 8px;
}
.post-information {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}
.post-information-image {
    margin-right: 12px;
    width: 40%;
}

.post-change-image {
    width: 100%;
    background: red;
    border: 0;
    color: white;
    line-height: 23px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}

.post-right-side {
    padding: 0;
}

.post-tabs-area {
    padding-top: 8px;
}

.tab-content {
    background: white;
    min-height: 120px;
    border: 1px solid lightgray;
}

.post-right {
    width: 100%;
}