/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Aug, 2016, 5:16:01 PM
    Author     : user
*/

.post-card {
    width: 190px;
    background: white;
    display: inline-block;
    overflow: hidden;
    margin: 8px;
}


.post-card-creator-photo-path {
    max-height: 40px;
    border-radius: 50%;
    margin-right: 4px;}

.post-card-details {
    margin-top: 4px;
    display: flex;
    padding-top: 4px;
    border-top: 1px solid lightgray;
}

.post-card-details-name-and-created-time {
    width: 100%;
    
}

.post-card-name {
    font-size: 14px;
    text-align: left;
    margin-top: 4px;
    font-weight: bold;
    text-transform: capitalize;
}

.post-card-button {
    margin-top: 4px;
    margin-bottom: 2px;
    display: flex;
    margin-right: 8px;
}

.post-card-total-bid {
    margin-right: 4px;
}

.post-card-total-favorite {
    margin-left: 4px;
}

.post-card-header {
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.post-card-details-name {
    color: blue;
    font-weight: bold;
}

.post-card-name {
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 32px;
    height: 32px;
    line-height: 16px;
}


.post-card-button-red {
    color: red !important;
}

.post-card-disabled {
    cursor: not-allowed;
}


.post-card-img {
    width: 100%;
    height: 190px;
}

.post-card-right {
    width: 100%;
    text-align: right;
}

.post-card-logo {
    color: darkgray;
}



@media (max-width: 450px) {
    .post-card {
        width: 300px;
    }
    
    .post-card-img {
        height: auto;
    }
}
