/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Aug, 2016, 6:08:02 PM
    Author     : user
*/

.post-section {
    width: 50%;
    display: inline-block;
}

.post-section-button {
    
    margin-top: 6px;
    padding: 2px 10px;
    color: white;
    font-weight: bold;
    border: 1px solid lightgray;
}

.post-section-title {
    font-size:20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.post-section-edit-title {
    padding: 4px;
    font-size: 14px;
    width: 100%;
    border-radius: 4px;
    background: none;
    border: 1px solid lightgray;
    outline: none;
}

.post-section-edit-description {
    padding: 4px;
    font-size: 14px;
    width: 100%;
    border-radius: 4px;
    background: none;
    border: 1px solid lightgray;
    outline: none;
}

.post-section-hide {
    display: none;
}

.post-section-error {
    margin-bottom: 12px;
    display: block;
    font-size: 10px;
    color: red;
}

.post-section-bottom {
    
}

.post-section-view-button {

    display: inline-flex;
}

.post-section-edit-cancel-button {
    background: red;
}

.post-section-edit-edit-button {
    background: blue;
    
}

.post-section-information {
    margin-top: 8px;
}