.profile-bio {
    margin-bottom: 16px;
}

.profile-bio-header {
        font-size: 18px;
    margin-top: 16px;
    font-weight: bold;
    line-height: 20px;
}

.profile-bio-information {
    margin-top: 8px;
    font-size: 16px;
    color: gray;
}

.profile-bio-edit {
        background: none;
    border: 0;
    color: blue;
    font-size: 14px;
}