/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Aug, 2016, 5:18:32 PM
    Author     : user
*/

.search-bar {
    text-align: center;
    display: inline;
    width: 100%;
}   


input:focus {
    outline: none;
}

.search-bar-holder {
    width: 100%;
    vertical-align: top;
    height: 34px;
}

.search-bar-input {
    height: 100%;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid lightgray;
}

.search-bar-icon {
    margin-right: 4px;
    top:3px;
    margin-left: 2px;
}

.search-bar-city {
    display: inline-block;
}


@media (max-width: 450px) {
    
    .search-bar-city {
        display: none;
    }
    
    .search-bar-input {
        width: 270px;
    }
    
    .search-bar-holder {
        width: 100%;
    }
}