.search-bar {
    text-align: center;
    display: inline;
    width: 100%;
}   


input:focus {
    outline: none;
}

.search-bar-holder {
    width: 100%;
    vertical-align: top;
    height: 28px;
}

.search-bar-input {
    height: 100%;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid lightgray;
}

.search-bar-icon {
    margin-right: 4px;
    top:3px;
    margin-left: 2px;
}

.search-bar-city {
    display: inline-block;
}


@media (max-width: 450px) {
    
    .search-bar-city {
        display: none;
    }
    
    .search-bar-holder {
        width: 100%;
    }
}