/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Aug, 2016, 5:18:32 PM
    Author     : user
*/

.search-bar {
    display: flex;
    padding: 2px;
    padding-left: 8px;
    background: white;
    min-width: 300px;
}

.search-bar-input {
    border: 0;
    width: 100%;    
    border-bottom: 1px solid lightgoldenrodyellow;
}

input:focus {
    outline: none;
}

.search-bar-holder {
    display: flex;
    min-width: 200px;
    background: white;
    padding: 4px;
}

.search-bar-holder-stuff {
    width: 100%;
    margin-right: 0;
}

.search-bar-icon {
    margin-right: 4px;
    top:3px;
    margin-left: 2px;
}


.search-bar-city > .select2 > .selection > .select2-selection {
    border : 0;
    border-radius: 0;
}
