/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Sep, 2016, 8:10:01 PM
    Author     : user
*/

.tag-navigation {
    padding-top: 5px;
    margin-bottom: 10px;
}

.tag-navigation-starred {
    margin-top: 8px;
}

.tag-navigation-label {
    font-size: 16px;
    color: gray;

}

.tag-navigation-search {
    margin-bottom: 10px;
    width: 100%;
    color: gray;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 4px;
    border: 2px solid lightblue;
}

.tag-navigation-header {
    display:  flex;
}

.tag-navigation-label {
    width: 100%;
}

.tag-navigation-header-button {
        background: none;
    border: 0;
    padding: 0;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
    color: gray;
        
}

.tag-navigation-header-button:hover {
    background: lightgray;
    color: gray;
}